

/* @mixin basic-btn {
    
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 50px;
  }
  
  @mixin basic-btn-green {
    @include basic-btn;
    background-color: $elgreen;
    color: $elwhite;
  } */

// Basic Buttons
.basic-btn {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 50px;

  &-green {
    background-color: $elgreen;
    color: $elwhite;
  }

  &-blue {
    background-color: $elblue;
    color: $elwhite;
  }

  &-red {
    background-color: $elred;
    color: $elwhite;
  }

  &-yellow {
    background-color: $elyellow;
    color: $elblack;
  }
}

//Navigation Buttons//

.nav-btn {
  cursor: pointer;
  
}

.nav-icon {
padding: 10px;
border-radius: 50%;

  &-green {
    background-color: $elgreen;
  }

  &-blue {
    background-color: $elblue;
  }

  &:active, &:hover {
    transition-timing-function: ease-in-out;
    background-color: $elgrey;
  }
}