
/*-----VARIABLES-----*/

//Colors//
/* Color Theme Swatches in RGBA */
$elblue: rgba(83,182,179, 1);
$elgreen: rgba(105,202,151, 1);
$elblack: rgba(41,41,41, 1);
$elgrey: rgba(218,223,226, 1);
$elwhite: rgba(255,255,255, 1);
$elred: rgba(234,61,47, 1);
$elyellow: rgba(232,203,39, 1);

//Gradients//
$soft-gradient: linear-gradient(0deg, rgba(105,202,103,0.3) 0%, rgba(83,182,179,0.3) 100%);

//Font-families//
$body-font-family: 'Poppins', sans-serif;
$font-size-root: 16px;

//Base buttons//
/* $btn-sizes: (
  'default': 60,
  'small': 50,
  'medium': 60,
  'large': 80,
  'x-large': 100
); */

//Borders//
